<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add New Job Role</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <h1>Add New Job Role</h1>
                </div>
            </div>
            </div>
        </header>
        <main class="container mt-4">
            <section id="addNewJobTitleHeader" class="mt-4">
                <h2>Add The Name Of The New Job Role</h2>
            </section>

            


        </main>
    </body>
</html>