<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add New Job Role</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <h1>Add New Job Role</h1>
                </div>
            </div>
            </div>
        </header>
        <main class="container mt-4">
            <section id="form" class="bg-light py-5">
                <div class="container">
                    <p>Choose The Capability Of The New Job Role</p>
                    <form id="chooseCapability" action="/admin-choose-capability" method="post">
                        <div class="form-group">
                            <label for="Capability">Capability</label>
                            <select id="capability" name="capability" class="form-control" required>
                                {% for capability in capabilities  %}
                                    <option value="{{ capability.capability }}">{{ capability.capability }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Next</button>
                    </form>
                </div>
            </section>
        </main>
        <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/0c802525-e662-4beb-9972-b5610b35d956/webchat/config.js" defer></script>
    </body>
</html>