<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add New Job Role</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <h1>Add New Job Role</h1>
                </div>
            </div>
            </div>
        </header>
        <main class="container mt-4">
            <section id="form" class="bg-light py-5">
                <div class="container">
                    <p>Choose The Capability Of The New Job Role</p>
                    <form action="/3choose-capability" method="post">
                        <div class="form-group">
                            <label for="capability">Job Specification</label>
                            <input type="text" id="capability" name="capability" class="form-control" value="{{ capability }}" required>
                        </div>
                        
                        <select name="capabilities">
                            {% for capability in capabilities %}
                                <option value="{{capability}}">{{capability}}</option>
                            {% endfor %}
                        </select>
                        
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>