<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add New Job Role</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <h1>Add New Job Role</h1>
                </div>
            </div>
            </div>
        </header>
        <main class="container mt-4">
            <section id="form" class="bg-light py-5">
                <div class="container">
                    <p>Choose The Band Level Of The New Job Role</p>
                    <form id="chooseBandLevel" action="/4choose-band-level" method="post">
                        <div class="form-group">
                            <label for="BandLevel">Band Level</label>
                            <select id="bandlevel" name="bandlevel" class="form-control" required>
                                {% for bandlevel in bandlevels  %}
                                    <option value="{{ jobrole.bandlevel }}">{{ jobrole.bandlevel }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Next</button>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>