<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Feet UI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Flash Feet UI</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <h4><a href="/jobroles"> View Job Roles</a></h4>
    </main>
    <footer class="bg-dark text-light py-3">
        <div class="container text-center">
            <p>&copy; Kainos Software Limited 2023</p>
        </div>
    </footer>
</body>
</html>