<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Job Roles</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <h1>Job Roles</h1>
                </div>
            </div>
            </div>
        </header>
        <main class="container mt-4">
            <section id="products" class="mt-4">
                <h2>Our Job Roles</h2>
                {% if jobroles and jobroles.length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">JobRole</th>
                            <th scope="col">JobSpecification</th>
                            <th scope="col">Capability</th>
                            <th scope="col">BandLevel</th>
                            <th scope="col">JobFamily</th>
                            <th scope="col">Responsibilities</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jobroles in jobroles %}
                        <tr>
                            <td>{{ jobroles.jobRole }}</td>
                            <td>{{ jobroles.jobSpecification }}</td>
                            <td>{{ jobroles.Capability }}</td>
                            <td>{{ jobroles.bandLevel }}</td>
                            <td>{{ jobroles.jobFamily}}</td>
                            <td>{{ jobroles.responsibilities}}</td>
                            <td><a href='jobroles/{{ jobroles.jobroles }}'>View</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                There are no job roles.
                {% endif %}
            </section>
        </main>
    </body>
</html>