<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Login</h1>
                </div>
            </div>
        </div>
    </header>

    <main class="container mt-1">
        <section id="form" class="container">
            <div class="container">
                {% if errormessage %}
                    <div class="alert alert-danger" role="alert">
                        {{ errormessage }}
                    </div>
                {% endif %}

                <form action="/login" method="post">
                    <div class="form-group mb-4">
                        <label for="username" style="font-size: 1.2rem;" >Username</label>
                        <input type="text" id="username" name="username" class="form-control" value="{{ username }}" required>
                    </div>
                    <div class="form-group">
                        <label for="password" style="font-size: 1.2rem;" >Password</label>
                        <input type="password" id="password" name="password" class="form-control" value="{{ password }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="login">Login</button>
                </form>

            </div>
        </section>
    </main>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
    <link rel="icon" href="public/images/kainosFavicon.ico">
	<link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <main>
        
        <div class="wrapper">
            <div class="header">
                <div class="top">
                    <div class="logo">
                        <img src="public/images/kainosDarkLogo.png" alt="kainosDarkLogo" style="width: 175px;">
                    </div>
                        <form action="/login" method="post">
                            {% if errormessage %}
                            <div class="alert alert-danger" role="alert">
                                {{ errormessage }}
                            </div>
                            {% endif %}
                            <div class="form">
                                <div class="input_field">
                                    <input type="text" id="username" name="username" class="input" placeholder="Username" value="{{ username }}" required>
                                </div>
    
                                <div class="input_field">
                                    <input type="password" id="password" name="password" class="input" placeholder="Password" value="{{ password }}" required>
                                </div>
    
                                <div>
                                    <button type="submit" class ="btnLogin" id="login">Log in</button>
                                </div>
                            </div>
                        </form>
                        
                    <div class="or">
                        <div class="line"></div>
                        <p>OR</p>
                        <div class="line"></div>
                    </div>
                    <div class="dif">
                        <div class="fb">
                            <img src="public/images/kainosDarkLogo.png" alt="kainosDarkLogo" style="width: 175px;">
                            <p>Log in with Facebook</p>
                        </div>
                        <div class="forgot">
                            <a href="#">Forgot password?</a>
                        </div>
                    </div>
                </div>
                <div class="signup">
                    <p>Don't have an account? <a href="views/register">Register</a></p>
                </div>
            </div>
            <div class="footer">
                <div>
                    
                </div>
                <div class="copyright">
                    Copyright © 2023 Kainos. Registered in NI NI019370
                </div>
            </div>
        </div>
    </main>
</body>
</html>




