<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
    <link rel="icon" href="public/images/kainosFavicon.ico">
	<link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="public/loginStyle.css">


</head>
<body>
    <main>
        <div class="wrapper">
            <div class="header">
                <div class="top">
                    <div class="login-logo">
                        <img src="public/images/kainosDarkLogo.png" alt="kainosDarkLogo" style="width: 175px;">
                    </div>
                        <form action="/login" method="post">
                            {% if errormessage %}
                            <div class="alert alert-danger" role="alert">
                                {{ errormessage }}
                            </div>
                            {% endif %}
                            <div class="form">
                                <div class="input_field">
                                    <input type="text" id="username" name="username" class="input" placeholder="Username" value="{{ username }}" required>
                                </div>
    
                                <div class="input_field">
                                    <input type="password" id="password" name="password" class="input" placeholder="Password" value="{{ password }}" required>
                                </div>
    
                                <div>
                                    <button type="submit" class ="btnLogin" id="login">Log in</button>
                                </div>
                            </div>
                        </form>
                        
                    <div class="or">
                        <div class="line"></div>
                        <p>OR</p>
                        <div class="line"></div>
                    </div>
                    <div class="dif">
                        <div class="fb">
                            <img src="public/images/kainosDarkLogo.png" alt="kainosDarkLogo" style="width: 175px;">
                            <p>Log in with Facebook</p>
                        </div>
                        <div class="forgot">
                            <a href="#">Forgot password?</a>
                        </div>
                    </div>
                </div>
                <div class="signup">
                    <p>Don't have an account? <a href="views/register">Register</a></p>
                </div>
            </div>
            <div class="footer">
                <div>
                    
                </div>
                <div class="copyright">
                    Copyright © 2023 Kainos. Registered in NI NI019370
                </div>
            </div>
        </div>
    </main>
</body>
</html>