@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

body{
	background: #fafafa;
	font-size: 14px;
}

.wrapper .header{
	max-width: 350px;
	width: 100%;
	height: auto;
	margin: 50px auto;
}

.wrapper .header .top,
.wrapper .signup{
	background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 40px 40px 20px;
}

.wrapper .header .logo img{
	display: block;
	margin: 0 auto 35px;
}

.wrapper .header .form .input_field{
	margin-bottom: 5px;
}


.wrapper .header .form .input_field .input{
	width: 100%;
	background: #fafafa;
	border: 1px solid #efefef;
	font-size: 12px;
	border-radius: 3px;
	color: #262626;
	padding: 10px;
}

.wrapper .header .form .input_field .input:focus{
	border: 1px solid #b2b2b2;
}

.wrapper .header .form .btn{
	margin: 10px 0;
	background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.wrapper .header .form .btnLogin{
	margin: 10px 0;
	background-color: #3897f0;
    border: 1px solid #3897f0;
	color: #ffffff;
	width: 100%;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}


.wrapper .header .form .btn a{
	color: #fff;
	display: block;
}

.wrapper .header .or{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15px;
	margin: 15px 0 20px;
}

.wrapper .header .or .line{
	width: 105px;
	height: 2px;
	background: #efefef
}

.wrapper .header .or p{
	color: #999;
	font-size: 12px;
}

.wrapper .dif .fb{
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper .dif .fb img{
	width: 16px;
	height: 16px;
}

.wrapper .dif  .fb p{
	color: #385185;
	font-weight: 500;
	margin-left: 10px;
}

.wrapper .dif .forgot{
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
}

.wrapper .dif .forgot a{
	color: #003569;
}

.wrapper .signup{
	margin: 10px 0 20px;
	padding: 25px 40px;
	text-align: center;
	color: #262626;
}

.wrapper .signup a{
	color: #3897f0;
}

.wrapper .apps{
	text-align: center;
	color: #262626;
}

.wrapper .apps p{
	margin-bottom: 20px;
}

.wrapper .apps a img{
	width: 135px;
	height: 40px;
	margin: 0 5px;
}

.footer{
	max-width: 935px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}

.footer .links ul li{
	display: inline-block;
	margin-right: 10px;
}

.footer .links ul li a{
	color: #003569;
	font-size: 12px;
}

.footer .copyright{
	color: #999;	
}

.fluxHeader {
    height: 200px;
    width: 100%;
}
ul
{
    position: relative;
    display: flex;
}
ul li
{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
ul li a
{
    text-decoration: none;
}
ul li a .fa-brands
{
    font-size: 6em;
    color: #222;
}
ul li a::before
{
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
ul li:nth-child(1) a::before
{
    content: "\f26b";
    color: #1EBBEE;
}
ul li:nth-child(2) a::before
{
    content: "\f232";
    color: #25d366;
}
ul li:nth-child(3) a::before
{
    content: "\f16d";
    background-image: linear-gradient(45deg,#2B3583 50%,#41679F 75%,#43A83F 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul li:nth-child(4) a::before
{
    content: "\f2ab";
    color: #FFFC00;
}
ul li:nth-child(5) a::before
{
    content: "\f09b";
    color: #fafafa;
}
ul li:nth-child(6) a::before
{
    content: "\f1bc";
    color: #1DB954;
}
ul li:nth-child(7) a::before
{
    content: "\f1cb";
    color: #F0F8FF;
}
ul li:hover a::before
{
    height: 100%;
}

.social-media-icons i {
	color: white;
  }